  .not-found {
    text-align: center;
    padding: 50px;
    color: #444;
  }
  
  .not-found h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .not-found p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .back-home-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1c724b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .back-home-link:hover {
    background-color: #06451d;
  }
  